* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;


}

.items {
    padding-right: 43px;
  
}

.list {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    gap: 40px;
    list-style: none;
    
}
.section3{
    text-align: center;
}
.section3 h1{
    font-size: 40px;
    font-weight: 700;
}
.smallcard h1{
     font-size: 40px;
    font-weight: 700;
    text-align: center;
    /* color: azure;
    background-color: rgba(0,0,0,.5); */
}

 .search{
   display: flex;
   justify-content: space-evenly;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    padding: 40px;
    margin-top: 20px;
    margin-bottom: 50px;
}
@media (width <=1140px) {
    .search{
        flex-wrap: wrap;
    }
}

 

.search1{
    padding: 100px;
}
@media (width <=1140px) {
    .search1{
        padding: 0px;
        margin-bottom: 50px;
    }
}

.search1 h2{
    margin-top: 20px;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}
.search1 form input{
    margin-top: 20px;
    height: 40px;
    width: 300px;
    border-radius: 7px;
}
.search1 button{
    margin-top: 20px;
    padding: 8px;
    gap: 20px;
}
.search2 img{
    height: 600px;
    width: 600px;
}
@media (width <=636px) {
    .search2 img{
    height: 300px;
    width: 300px;
    box-sizing: border-box;
}
}

.cardd {
    margin: 40px 50px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: flex-end;
padding-bottom: 40px;
}

.card {
    margin-top: 35px;
    border: 4px solid black;
    box-shadow: 3px 5px 7px rgb(114, 114, 145);
}
.card:hover{
     box-shadow: 4px 5px 9px rgb(114, 114, 145);
}

.card-img-top {
    height: 200px;
    width: 200px;
}
.logo img{
    height: 70px;
    width: 100px;
}
.logo1 img{
    height: 70px;
    width: 100px;
}
@media (width <=636px) {
    .logo1 img{
    height: 0px;
    width: 0px;
}
}



.codei {
    /* background-color: aliceblue; */
    display: flex;
        margin-top: 30px;
    margin-bottom: 43px;
    height: 150px;
    width: 400px;
    border-radius: 9px;
    box-shadow: 3px 5px 7px rgb(114, 114, 145);
    justify-content: space-between;
    align-items: center;
}
.codei:hover{
     box-shadow: 4px 5px 9px rgb(114, 114, 145);
}
.content{
    padding: 20px 30px;
    
}
.image img{
    width: 120px;
    height: 120px;
}
.smallcard{
    padding: 0px 50px;
}
.suggestion {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 40px;
   
}





.footer {
    padding: 40px;
    margin: 0px;
    
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    
    background-color: #3f3f3f;
    color: #ffffff;
    display: flex;
}
@media (width <=1140px) {
    .footer{
        flex-wrap: wrap;
    }
}

.list2 ul,
.list3 ul,
.list4 ul,
.list5 ul {
    list-style: none;
    
}

.e2 {
    text-decoration: none;
    color: #e1e1e1b7;
}

.list1 p a {
    text-decoration: none;
    color: #e1e1e1b7;
}
.copy {
     background-color: #3f3f3f;
    color: #e1e1e1b7;
   text-align: center;
 
}
.copy a{
     text-decoration: none;
    color: #e1e1e1b7; 
}

    .btn a {
        text-decoration: none;
        color: #000000b7;
    }
    
    .f2 {
        text-decoration: none;
    color: azure;
}
